<template>
	<div class="app-container">
		<h2>Dimensions</h2>
		<slider :obj="params.width"></slider>
		<slider :obj="params.gutter"></slider>
		<slider :obj="params.ratio"></slider>
		<slider :obj="params.rows"></slider>
		<slider :obj="params.cols"></slider>
		<h2>Color & Gradients</h2>
		<colors :obj="params.colors"></colors>
		<color :obj="params.gutterColor"></color>
		<slider :obj="params.gutterBleed"></slider>
		<slider :obj="params.gradientAmount"></slider>
		<slider :obj="params.angle"></slider>
		<slider :obj="params.randomAngle"></slider>
		<slider :obj="params.randomizeColor"></slider>
		<slider :obj="params.seed"></slider>
		<label>
			<input type="checkbox" name="normal" v-model="params.normal.value">
			<strong>{{params.normal.label}}</strong>
		</label>
	</div>
</template>


<style lang="scss">
	.app-container {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;

		width: 30rem;
		background-color: #ffffff99;
		padding: 1rem;
		font-family: sans-serif;
		* {
			box-sizing: border-box;
		}

		overflow-y: auto;
	}
</style>
<script>
	import params from '../params.js';
	import Slider from './inputs/Slider.vue';
	import Color from './inputs/Color.vue';
	import Colors from './inputs/Colors.vue';
	const event = new Event('build');
	export default {
		data: function() {
			return {params};
		},
		components: {
			Slider,
			Color,
			Colors,
		},
		watch: {
			params: {
				handler() {
					document.dispatchEvent(event);
				},
				deep: true,
			}
		}
	}
</script>