<template>
	<div class="color">
		<strong>{{obj.label}}</strong>
		<input type="color" v-model="obj.value">
		<input type="text" v-model="obj.value">
	</div>
</template>
<script>
	export default {
		props: [
			'obj',
		]
	}
</script>