<template>
	<div class="colors">
		<strong>{{obj.label}}</strong>
		<ul class="color-items">
			<li
				class="color-item"
				v-for="(color, i) in obj.value"
			>
				<color :obj="color"></color>
				<span
					@click.prevent="remove(i)"
					class="color-item__remove"
				>&times;</span>
			</li>
		</ul>
		<span
			@click.prevent="addColor"
			class="btn"
		>Add color</span>
	</div>
</template>

<style lang="scss">
	.color-items {
		margin: 0;
		padding: 0;
	}
	.color-item {
		list-style: none;
		display: flex;
		margin-bottom: 0.5rem;
		&__remove {
			margin-left: 0.5rem;
			font-family: monospace;
			font-size: 1.25rem;
			padding: 0.25rem;
			user-select: none;
			color: #444;
			border-radius: 0.5rem;
			border: 1px solid #c00;
			line-height: 0.7;
			width: 1.5rem;
			height: 1.5rem;
			text-align: center;
			transition: background-color 0.2s, color 0.2s;
			&:hover {
				color: white;
				background-color: #c00;
			}
		}
	}
</style>

<script>
	let index = 0;
	import Color from './Color.vue';
	export default {
		props: [
			'obj',
		],
		methods: {
			addColor: function() {
				this.obj.value.push(
					{
						label: 'Color #' + (this.obj.value.length + 1),
						value: '#FFFFFF',

					}
				);
			},
			remove(i) {
				this.obj.value.splice(i, 1);
			}
		},
		components: {
			Color
		}
	}
</script>