<template>
	<div class="slider">
		<strong class="slider__label">{{obj.label}}</strong>
		<div class="slider__wrapper">
			<span class="slider__min">{{obj.min}}</span>
			<span class="slider__max">{{obj.max}}</span>
			<div class="slider__bar" @click.prevent="adjust">
				<div class="slider__barfill" :style="fillcss"></div>
			</div>
		</div>
		<input type="number" v-model="obj.value" :step="obj.step">
	</div>
</template>

<style lang="scss">
	.slider {
		margin-bottom: 0.25rem;
		display: flex;
		align-items: center;
		&__wrapper {
			border: 1px solid #ccc;
			padding: 0.25rem 0.5rem;
			display: flex;
			width: 10rem;
			background-color: #fff;
			margin-right: 0.5rem;
			flex-wrap: wrap;
		}
		&__min, &__max {
			font-size: 0.75rem;
			flex: 0 0 50%;
		}
		&__max {
			text-align: right;
		}
		&__bar {
			border: 1px solid #eee;
			flex: 1 0 auto;
			position: relative;
			height: 0.5rem;
		}
		&__barfill {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			background-color: #99CCFF;
		}
		input {
			width: 5rem;
			padding: 0.25rem;
		}
	}
	.slider__label {
		flex: 0 0 10rem;
	}
</style>

<script>
function nearest(value, step) {
    step || (step = 1.0);
    var inv = 1.0 / step;
    return Math.round(value * inv) / inv;
}
	export default {
		props: [
			'obj',
		],
		computed: {
			fillcss() {
				let val = parseFloat(this.obj.value);
				let max = parseFloat(this.obj.max);
				let min = parseFloat(this.obj.min);

				let pct =  100 - (100 * (val-min) / (max-min));
				return 'right: ' + pct +'%';
			}
		},
		methods: {
			adjust(e) {
				let x = e.layerX;
				console.log( x );
				let bar = this.$el.getElementsByClassName('slider__bar')[0];
				let pct = x/bar.offsetWidth;
// this.$set(this.obj, 'value')
				this.obj.value = nearest(
					(this.obj.max - this.obj.min) * pct + this.obj.min,
					this.obj.step
				);
			}
		}
	}
</script>